*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
header{
    height: 100vh;
    background-image: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%), url(imagenes/1Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.head{
    text-align: center;
    padding:0;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    color: beige;
}
.hamburguesa{
    position:fixed;
    z-index: index 10;
    top:30px;
    right: 30px;
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    cursor:pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px black;

}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, rgb(150, 251, 196) 0%, rgb(249, 245, 134) 100%);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.spread{
    transform:translate(0%)
}
.menu a{
    color: rgb(20, 20, 19);
    text-decoration: none;
}
.titulo{
    font-size: 60px;
    margin-bottom: 15px;

}
.copy{
    font-weight: 300;
    font-size: 25px;
}
/*Servivios*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color:rgb(66, 68, 49);
    margin-bottom: 40px;
    font-size: 40px;

}
.contenedor-Indicaciones{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.contenedor-Indicaciones img{
    width: 40%;

}
.ReminderNote_Monochromatic-indications{
    width: 45%;
}
.Indications{
    margin-bottom: 20px;
}
n-indications{
    margin-bottom: 7px;
    color: rgb(255, 209, 139);
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, rgb(253, 219, 146) 0%, rgb(209, 253, 255) 100%);
    width: 30px;
    height: 30px;
    color: rgb(236, 189, 189);
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;

}
.gallery{
    background: rgb(228, 220, 220);
}
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px black;
    cursor:pointer
}
.imagen-light{
    position: fixed;
    background:rgba(0, 0, 0, .5);
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width:60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{
    transform:scale(1);

}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
.cont-expert{
    width: 30%;
    text-align:center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

footer{
    background:rgb(216, 195, 155);
    /*padding-bottom: 0.1px;*/
    border: 1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color:bisque;
}
.brand{
    font-weight: 500;
    font: size 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    text-align:center;
    color: white;
}
.social-media-icon.hover{
    background:whitesmoke ;
    color: rgb(233, 181, 162);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 80px;
}












